body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../img/stars.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    user-select: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
    color: white;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 10px;
    table-layout: fixed;
    background-color:rgba(0, 0, 0, 0);
    background-image: url(../img/stars.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

td, th {
  margin: 0;
  white-space: nowrap;
  border-top-width: 0px;
  border: 0px solid black;
  table-layout: fixed;
}

.cell {
    padding: 10px;
    height: 25px;
    width: 25px;
    text-align: center;
    transition: 0.5s;
    table-layout: fixed;
}

img {
    height: 20px;
    width: 20px;
}

.score {
    font-size: 16px;
}

.modal {
    display: block;
    height: auto;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 260px;
    left: calc(50% - 175px);
  }

  .modal, button {
    background-color: black;
    border: 5px solid white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgba(0, 0, 0, 0);
    background-image: url(../img/stars.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .hidden {
    visibility: hidden;
  }